<h1><%= @user.username %>, you have a request!</h1>
<h3>Log in to Puzzlrs to accept or decline</h3>
<h4>Puzzle Details:</h4>
<div>
  <%= image_tag("#{@puzzle.image}", :alt => "Puzzle", size: '300x300') %>
  <ul>
    <li>
      Category: <%= @puzzle.category %>
    </li>
    <li>
      Piece Count: <%= @puzzle.piece_count %>
    </li>
    <li>
      Missing Pieces: <%= @puzzle.missing_pieces %>
    </li>
    <li>
      Original Price: <%= @puzzle.original_price_point %>
    </li>
    <li>
      Quality: <%= @puzzle.quality %>
    </li>
  </ul>
</div>
